{% extends "base.html"%}

{%block content%}
<h2>Welcome to the lyrics database. </h2>
<p class="side-bar" style="text-decoration: none">
    We regularly crawl various sites on the net to get your the
    freshest lyrics out there. These are available classified
    using the artist.
    </p>
{% endblock%}

{%block artist%}
    <div class="roug">
        <h1>Artists</h1>
        <p>we have <mark>{{no_artist}}</mark> artists on our system</p>

            <ul>
                <p>This is the list of Artists! </p>
                {% for artist in artists %}
                <a style="text-decoration: none" href="{{url_for("artist", artist_id = artist.id)}}"><li>{{artist.name}}</li></a>
                {% endfor %}
            </ul>
    </div>
    <style>
            body{
                    background-color: cadetblue;

                }
    </style>
    {%endblock%}
