{% extends "base.html"%}
{%block content%}
<div>
    <h1>songs</h1>
    <p>we have <mark>{{nartist}}</mark> artists on our system</p>
    <ul>
        {% for s in songs%}

        {%if songs.id == s.id%}
        <li id="{{s.id}}" class="songname ">{{s.name}}</li>
        {%else%}

        <li id="{{s.id}}" class="songlinks" ><a class="songlink" style="text-decoration: none; color: blue;" 
            href="{{url_for('song',song_id=s.id)}}">
            {{s.name}}</a></li>
        {%endif%}
        {%endfor%}

    </ul>
</div>
{% endblock%}


{%block artist%}
<div class="lyrics">
    <div id="spinner-loading" class="d-flex justify-content-center" style="display:none!important;">
        <div class="spinner-border" role="status">
        </div>
    </div>
    <center>
        <h1 id="song_title">{{song_name}}</h1>
    </center>
    <div id="song_lyrics">

        {% autoescape off %}
        <em>
            <center>{{lyrics}}</center>
        </em>
        {% endautoescape %}

    </div>
</div>
<style>
    body {
        background-color: cadetblue;

    }
    a .songlink{
        text-decoration: none;
    }

    
</style>
{% endblock%}